h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #0B0B0B;
    margin-bottom: 12px;
}

p{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.deposit-content {
    padding: 31px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deposit-content form {
    width: 100%;
}

.deposit-content input {
    background: #E8E8E8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px!important;
    line-height: 20px;
    width: 100%;
    padding: 14px !important;
    border: none;
}

input:focus {
    border: none;
}

.deposit-content .btn-primary {
    width: 100%;
    border: 1px solid rgba(6, 182, 202, 0.5);
    margin-top: 38px;
    font-weight: 500;
    font-size: 14px!important;
    line-height: 21px;
    padding: 14px 0px!important;
    border-radius: 12px!important;
}

.deposit-amount {
    text-align: center;
    margin-bottom: 24px;
}