<app-modalcard [close]="close">
    <div>
        <h5>0.0 USD</h5>
        <p>0 NGN</p>
    </div>
    <div class="deposit-content">
        <div class="deposit-amount">
            <h5>0.0 USD</h5>
            <p>0 NGN</p>
        </div>
        <div>
            <form>
                <input type="text" class="form-controls" placeholder="Enter deposit amount"/>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</app-modalcard>