.why {
    padding: 124px 136px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why h3 {
    font-size: 38px!important;
    font-weight: 600;
    line-height: 57px;
    margin-bottom: 16px;
}

.why p {
    font-size: 20px!important;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 131px;
    text-align: center;
}

.why .cards-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.why .card {
    background-color: #fff;
    border-radius: 9px;
    border: none;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 8px 8px 15px rgba(54, 219, 241, 0.15);
}

.why .card h4 {
    margin-top: 36px;
    margin-bottom:  24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.why .card p {
    margin: 0px 0px 40px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(11, 11, 11, 0.8);
    letter-spacing: 0.02em;
}

@media screen and (max-width: 600px) {
    .why {
        padding: 24px 28px;
    }

    .why h3 {
        font-size: 18px!important;
        font-weight: 600;
        line-height: 27px;
        margin-bottom: 12px;
    }

    .why p {
        font-size: 12px!important;
        font-weight: 400;
        line-height: 18px;
        margin-bottom: 52px;
        text-align: center;     
        color: rgba(11, 11, 11, 0.8);
    }

    .why .cards-grid {
        grid-template-columns:  1fr;
        gap: 24px;
    }
    .why .card {
        border-radius: 9px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-shadow: 8px 8px 15px rgba(54, 219, 241, 0.15);
    }
    
    .why .card h4 {
        margin-top: 29px;
        margin-bottom:  12px;
        font-size: 16px!important;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
    }
    
    .why .card p {
        margin: 0px 0px 20px 0px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgba(11, 11, 11, 0.8);
        letter-spacing: 0.02em;
    }

    .why #card2 img{
        margin-bottom: 40px;
        margin-top: 47px;
    }
}