<div class="navigation">

        <div class="container-fluid" id="sidenav">

              <div class="row logo">
                <div class="col p-5 text-center">
                    <h4>LOGO</h4>
                </div>
              </div>

              <div class="menu-list">
                <app-menuitem icon="Category.png"  label='Dashboard' url='dashboard'></app-menuitem>
                
                <app-menuitem icon="Folder.png"  label='Project' url='projects'></app-menuitem>

                <app-menuitem icon="Wallet.png"  label='Wallet' url='wallet'></app-menuitem>

                <app-menuitem icon="Chart.png"  label='Investment' url='investment'></app-menuitem>

                <app-menuitem icon="Profile.png"  label='Profile' url='profile'></app-menuitem>

                <div class="desktop" style="min-width: 100%!important">
                <app-menuitem icon="Setting.png"  label='Settings' url='app/projects'></app-menuitem>
                </div>
              </div>
          
        </div>

</div>
