<app-pageloader [isLoading]="pageLoading"></app-pageloader>

<!-- settings -->
<div class="main-container">
    <!-- Documentation -->
    <div id="documentation">
        <h2>Documentation</h2>
        <div class="container">
            <app-verificationcard>
                <h5>ID Verification</h5>
                <p *ngIf="!isPhoneVerified">Upload any identification Card</p>
                <p *ngIf="isPhoneVerified">ID Card uploaded</p>
                
                <input type="file" class="file-field" />

                <app-verify (click)="verifyPhone()" label="Verify Identity" verifiedlabel="Phone Number verified" [isVerified]="isPhoneVerified ? isPhoneVerified : false"></app-verify>
            </app-verificationcard>
            <app-verificationcard>
                <h5>Phone Number Verification</h5>
                <p *ngIf="!isPhoneVerified">Generate OTP Code by clicking on verify phone number</p>
                <p *ngIf="isPhoneVerified">Your phone number (09023456789) has been verified</p>
                <app-verify (click)="verifyPhone()" label="Verify Phone Number" verifiedlabel="Phone Number verified" [isVerified]="isPhoneVerified ? isPhoneVerified : false"></app-verify>
            </app-verificationcard>
            <app-verificationcard>
                <h5>Email Address Verification</h5>
                <p *ngIf="!isEmailVerified">Check email address for verification code</p>
                <p *ngIf="isEmailVerified">Your email (Nicole54@gmail.com) has been verified</p>
                <app-verify (click)="verifyEmail()" label="Verify Email address" verifiedlabel="Email Address verified" [isVerified]="isEmailVerified ? isEmailVerified : false"></app-verify>
            </app-verificationcard>
        </div>
        
    </div>

    <!-- Others -->
    <div id="others">
        <h2>Others</h2>
        
            <form>
                <div class="container">
                    <app-card 
                        borderColor="rgba(0, 73, 204, 0.3)"
                        backgroundColor="#fff"
                        borderRadius="4px"
                        [fullwidth]="true"
                    >
                        <div class="padding" [formGroup]="nextkinForm">
                            <h5>Next of kin</h5>
                            <div id="nextkin-container" class="container padding">
                            <div>
                                <input 
                                    class="form-field" 
                                    type="text" 
                                    placeholder="Full name"
                                    formControlName="fullname"
                                    >
                            </div>
                            <div>
                                <input 
                                    class="form-field" 
                                    type="tel" 
                                    placeholder="Phone number"
                                    formControlName="phone"
                                >
                            </div>
                            <div>
                                <input 
                                    class="form-field" 
                                    type="email" 
                                    placeholder="Email"
                                    formControlName="email"
                                >
                            </div>
                            <div>
                                <input 
                                    class="form-field" 
                                    type="text" 
                                    placeholder="Home address"
                                    formControlName="address"
                                >
                            </div>
                            </div>
                        </div>
                    </app-card>
        
                    <app-card 
                        borderColor="rgba(0, 73, 204, 0.3)"
                        backgroundColor="#fff"
                        borderRadius="4px"
                        [fullwidth]="true"
                    >
                        <div class="padding" [formGroup]="changePassword" >
                            <h5>Change password</h5>
                            <form [autocomplete]="false">
                                <div class="changepassword-container">
                                    <input 
                                        type="password" 
                                        placeholder="Enter new password"
                                        formControlName="password"
                                        [autocomplete]="false"
                                    >
                                    <input 
                                        type="password" 
                                        placeholder="Confirm password"
                                        formControlName="confirmPassword"
                                        [autocomplete]="false"
                                    >
                                </div>
                            </form>
                        </div>
                    </app-card>
                </div>
                <div class="buttons-container">
                    <a routerLink="#" class="btn-help">Need help?</a> <button type="submit" class="btn btn-primary" (click)="submit()"> Save</button>
                </div>
                <div class="buttons-container">
                    <button type="submit" class="btn btn-black">Logout</button>
                </div>
            </form>
        
        
    </div>
</div>
