<div class="container">
    <img class="illustration" src="../../../../../../../assets/images/illustrations/wallet/invested.png" alt="success" >

    <div class="label">Payment Successful</div>

    <div class="buttons">
        <app-secondarybtnone
            [size3]="true"
            label="View Projects"
            (click)="viewProjects()"
        >
        </app-secondarybtnone>
        <app-primarybtnone
            [size3]="true"
            label="Continue"
            (click)="continue()"
        >
        </app-primarybtnone>
    </div>
</div>
