<div class="card" (click)="viewDetails">
    <img src="../../../../assets/images/thumbnail.jpg" alt="thumbnail"/>
    <div class="card-content">
        <a class="title" routerLink="i">{{title}}</a>

        <small class="invested">Invested Amount</small>

        <h5 class="USD">{{cost}} USD</h5>

        <small class="NGN">{{ngn}} NGN</small>

        <small class="timeline"><b>{{days}}</b> days left</small>

        <div class="progress-area">
            <div class="progress-bar">
                <div class="progress">
    
                </div>
            </div>

            <div class="progress-label">
                {{progress}}% completed
            </div>
        </div>


        
    </div>

</div>