<div class="card" (click)="viewDetails">
    <img src="../../../../assets/images/thumbnail.jpg" alt="thumbnail"/>
    <div class="card-content">
        <a class="title" [routerLink]="link" >{{title}}</a>

        <small class="invested">Invested Amount</small>

        <h5 class="USD">{{cost}} USD</h5>

        <small class="NGN">{{cost}} NGN</small>

        <small class="timeline" *ngIf="availability === 'Now Generating' "><b>{{days_left}}</b> days left</small>

        <small class="timeline" *ngIf="availability === 'Now Installing'"> <b>Now Installing </b> </small>
        
        <small class="timeline" *ngIf="availability === 'Now Available'"> <b>Funding </b> </small>

        <div class="progress-area">
            <div class="progress-bar">
                <app-progressbar [progress]="progress">

                </app-progressbar>
            </div>

            <div class="progress-label">
              {{progress}} %
            </div>
        </div>


        
    </div>

</div>