<app-mobiletopnav></app-mobiletopnav>

<app-singletopnav></app-singletopnav>

<h4>Investment</h4>

<div class="row mt-4">
    <div class="col-lg-6 col-md-12">
        <div class="grey-outline mt-2">
            Total Solar Cell Purchased <span>500 Solar Cell</span>
        </div>
        <div class="grey-outline mt-2">
            ROI Yield <span>20%</span>
        </div>
        <div class="grey-outline mt-2">
            Total Investment Made <span>$200|| 100,000 naira</span>
        </div>
        <div class="grey-outline mt-2">
            Total Energy Generated <span>2000kw</span>
        </div>

        <div class="mt-2">
            <div class="card" id="stats">
                <div class="cost"><small>Cost per cell</small> </div><div class="rate"><small>~ USD 7.12 / NGN 2,958</small></div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="mt-2">
            <div class="card" id="stats">
                <div class="cost"><small>Investment Interest (20%)</small> </div><div class="rate"><small>13,000</small></div>
            </div>

            <div class="grey-outline mt-2">
                Investment Date <span>1/01/2022</span>
            </div>
            <div class="grey-outline mt-2">
                Next Payout Date <span>20/08/2022</span>
            </div>
            <div class="grey-outline mt-2">
                Solar Asset Status Contract <span>Active</span>
            </div>
            <div class="grey-outline mt-2">
                Total Reduced C02  <span>~1500kg</span>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" id="calltoaction">
    <div class="col-12">
       <a routerLink="/app/projects/i" class="btn btn-primary">Reinvest</a>
       <a class="btn btn-black-share">
        <img src="../../../../assets/images/icons/download.png">
        </a>
    </div>
</div>

<div class="row mt-5" id="energygenerated">
    <div class="col-12">

        <h4>Energy Generated</h4>

        <h5 class="mt-3">Live View Of Kuala University Solar Energy Generated</h5>

        <img src="../../../../assets/images/thumbnail.jpg">
    </div>

    <div class="col-lg-4 col-md-12 text-center">
        <h5>2000 kWh</h5>
        <p>Energy generated</p>
    </div>
    <div class="col-lg-4 col-md-12 text-center">
        <h5>~1500kg CO2</h5>
        <p>Carbon reduced</p>
    </div>
    <div class="col-lg-4 col-md-12 text-center">
        <h5>500</h5>
        <p>Solar cells connected</p>
    </div>
</div>

