.grey-outline {
    background: #FFFFFF;
    border: 0.5px solid rgba(0, 73, 204, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}

.grey-outline span {
    color: rgba(6, 182, 202, 0.5)!important;
}

.stats-card {
    border-radius: 4px;
    justify-content: center!important;
}

#stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    justify-content: flex-start;
    margin-top: 0px!important;
}

#stats .cost{
    background-color: var(--black) !important;
    color: var(--white) !important;
    padding: 16px !important;
    width: auto !important;
    
    border-top-left-radius: var(--s1) !important;
    border-bottom-left-radius: var(--s1) !important;
    align-self: center;
}

#stats .rate{
    background-color: var(--white) !important;
    color: var(--black) !important;
    padding: 16px !important;
    border-top-right-radius: var(--s1) !important;
    border-bottom-right-radius: var(--s1) !important;
}

#calltoaction .btn-primary{
    padding-left: var(--S5)!important;
    padding-right: var(--S5)!important;
}

#calltoaction .btn-black-share {
    padding: 12px 12px!important;
    margin-left: var(--s2);
    border-bottom: none!important;
    background-color: var(--black);
    border-radius: var(--s1);
}

#calltoaction .btn-black-share img{
    height: 24px;
    width: 18px;
}

#energygenerated img{
    width: 100%;
    height: 237px;
    border-radius: 8px;
    margin-bottom: 32px;
}
