<app-mobiletopnav></app-mobiletopnav>

<app-singletopnav></app-singletopnav>

<div class="row" id="single-title">
    <div class="col-12 d-flex flex-row justify-content-between">

        <div>
            <h5>Available projects</h5>
        </div>

        <div>
            <small class="text-danger">25.94% Sold</small>
        </div>

    </div>
</div>

<div class="row pt-3">
    <div class="col-12" id="thumbnail">
        <img src="../../../../assets/images/thumbnail.jpg">
    </div>
</div>

<div class="row pt-3">
    <div class="col-lg-12">
        <h5>Kuala University | 187.92 kW | Cape Town, South Africa</h5>
        <small>By Salarboys Global</small>
        <div class="row g-5">
            <div class="col-lg-5 col-md-12 text-center">

                <div class="mt-2">
                    <app-statsdisplay label="Cost per cell" value="~ USD 7.12 / NGN 2,958"></app-statsdisplay>
                </div>
                <div class="mt-2">
                    <app-statsdisplay label="Total Cell Bought" value="500"></app-statsdisplay>
                </div>
                <div class="mt-2">
                    <app-statsdisplay label="Total Cell Bought" value="500"></app-statsdisplay>
                </div>
                <div>
                    <app-button label="Invest"></app-button>
                </div>

                <div >
                    <button type="button" href="#" class="btn btn-primary-outline" id="btn-opportunity">About the opportunity  <img src="../../../../assets/images/icons/Arrow - Left.png"></button>
                </div>

            </div>

            <div class="col-lg-7 col-md-12">

                <p class="d-lg-none info-title">Other Information</p>

                <div class="row " id="information-cards" >
                    <div class="">
                        <app-projectinfocard title="ROI" value="20%"></app-projectinfocard>
                    </div>
                    <div class="">
                        <app-projectinfocard title="Carbon Reduced" value="~120kg"></app-projectinfocard>
                    </div>
                    <div class=" ">
                        <app-projectinfocard title="Year 1 Energy Yield" value="1200kw"></app-projectinfocard>
                    </div>
                    <div class="">
                        <app-projectinfocard title="Investment End Date" value="20/20/20"></app-projectinfocard>
                    </div>
                    <div class="">
                        <app-projectinfocard title="Current number of Investors" value="30"></app-projectinfocard>
                    </div>
                    <div class="">
                        <app-projectinfocard title="Investment" value="Revenue Generating Asset "></app-projectinfocard>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 d-flex flex-row justify-content-end">
                        <button type="button" class="btn btn-black" id="download-info"> <small>Download Information </small><img src="../../../../assets/images/icons/download (2).png" > </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        
        <h4 class="mb-3">About Project</h4>

        <small class="mb-3">Read about this investment opportunity below.</small>
        <br>
        <small class="mb-">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus non enim praesent elementum facilisis leo, vel fringilla est ullamcorper eget nulla facilisi etiam dignissim diam quis enim lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis eu volutpat odio facilisis mauris sit amet massa vitae tortor condimentum lacinia quis vel eros donec ac odio tempor orci dapibus ultrices in iaculis nunc sed augue lacus, viverra vitae congue eu, consequat ac felis donec et odio pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus
        </small>



    </div>
</div>