<div  id="productcards">
    <div class="bg-primary thumbnail">
        <img src="../../../../assets/images/thumbnail.jpg">

        <div class="label">
            Now Available- 32.90% Sold
        </div>
    </div>
    <div class="card-content">
        <h5>
            {{title}}
        </h5>

        <small class="">
            {{description}}
        </small>
            
            <div class="row" id="yield">
                <div class="col-12">
                    <app-statsdisplay label="Cost per cell" [value]=value ></app-statsdisplay>
                </div>
               
            </div>

            <div class="product-button" id="calltoaction">
                
                    <div class="btn btn-black-share">
                        <img src="../../../../assets/images/icons/download.png">
                    </div>
                    <div class="btn btn-primary" (click)="viewDetail(id)">View Details</div>
                
            </div>
    </div>
    

</div>
