<div  id="productcards">
    <div class="bg-primary thumbnail">
        <img src="../../../../assets/images/thumbnail.jpg">

        <div class="label">
            Now Available- 32.90% Sold
        </div>
    </div>
    <div class="card-content">
        <h5>
            Kuala University | 187.92 kW | Lagos, Nigeria
        </h5>

        <small class="">
            Avondrust Court is located in the leafy suburb of Rondebosch in Cape Town, South Africa, and offers a warm, uplifting living environment to their retirees.
        </small>
            
            <div class="row" id="yield">
                <div class="col-12">
                    <app-statsdisplay label="Cost per cell" value="~ USD 7.12 / NGN 2,958"></app-statsdisplay>
                </div>
                <div class="col-6">
                    
                    <p>ROI Yield</p>  

                    <div class="form-group">
                        <label for="name"></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" required>
                        <!--placing icon using a span element-->
                        <span class="icon fa fa-user fa-lg"></span>
                    </div>

                </div>
                <div class="col-6">

                    <p>Reduce CO<sub>2</sub></p>

                    <div class="input-group mb-2">

                        <div>
                            <input type="text" class="form-control" placeholder="placeholder" > 
                        </div>

                        <!-- <div class="input-group-text" id="basic-addon1">
                            Kg
                        </div> -->

                    </div>

                </div>
            </div>

            <div class="row" id="calltoaction">
                <div class="col-12">
                    <a class="btn btn-black-share">
                        <img src="../../../../assets/images/icons/download.png">
                    </a>
                   <a routerLink="/app/projects/i" class="btn btn-primary">View Details</a>
                </div>
            </div>
    </div>
    

</div>
