<div  id="productcards">
    <div class="bg-primary thumbnail">
        <img src="../../../../assets/images/thumbnail.jpg">

        <div class="label">
            Now Available- 32.90% Sold
        </div>
    </div>
    <div class="card-content">
        <h5>
            Kuala University | 187.92 kW | Lagos, Nigeria
        </h5>

        <small class="">
            Avondrust Court is located in the leafy suburb of Rondebosch in Cape Town, South Africa, and ...
        </small>
            
            <div class="row" id="yield">
                <div class="col-12">
                    <app-statsdisplay label="Cost per cell" value="~ USD 7.12"></app-statsdisplay>
                </div>
               
            </div>

            <div class="row" id="calltoaction">
                <div class="col-12">
                    <a class="btn btn-black-share">
                        <img src="../../../../assets/images/icons/download.png">
                    </a>
                   <app-button classes="btn btn-primary" label="View Details"></app-button>
                </div>
            </div>
    </div>
    

</div>
