#productcards {
    width: 441px !important;
    margin-right: var(--s2) !important;
    padding: 0px !important;
    border: none;
    border-radius: var(--S1) !important;
    margin-bottom: var(--s3) !important;
    display: flex!important;
    flex-direction: column!important;
}

#productcards small {
    font-size: var(--f9) !important
}

#productcards h5 {
    font-size: var(--f7) !important
}

#productcards input {
    width: 100% !important;
}

#productcards .input-container {
    display: grid;
    grid-template-columns: auto 10px;
    grid-template-rows: 1fr;
    background-color: var(--white);
    width: 100%
}

#productcards .thumbnail {
    position: relative;
    border-top-left-radius: var(--f8) !important;
    border-top-right-radius: var(--f8) !important;
}

#productcards .thumbnail img {
    width: 100%;
    height: 200px;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    border-top-left-radius: var(--f8) !important;
    border-top-right-radius: var(--f8) !important;
}

#productcards .thumbnail .label {
    position: absolute;
    left: 0;
    bottom: 40px;
    background-color: var(--black);
    color: var(--white);
    padding: var(--s1) var(--s3);
    border-top-right-radius: var(--f8);
    border-bottom-right-radius: var(--f8);
    font-size: var(--f9) !important
}

#productcards .card-content {
    padding: var(--S1);
    text-align: center;
    background-color: #F1F0F0;
    border-bottom-left-radius: var(--f8);
    border-bottom-right-radius: var(--f8);
}

#productcards h5, #productcards small {
    margin-bottom: var(--S1)!important
}

#productcards small {
    margin-bottom: var(--S1)!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: flex-start!important;
    align-items: flex-start;
}

#productcards #yield {
    margin-left: var(--S2) !important;
    margin-right: var(--S2) !important;
    margin-bottom: var(--f2) !important;
}

#yield input,
#yield textarea {
  /* to create space for placing icon*/
  padding-right: 32px!important;
  border-color: transparent!important;
  background-color: var(--white)!important;
}

#yield .icon {
    position: relative;
    float: right;
    margin-right: 8px;
    margin-top: -24px;
    z-index: 2;
    color: #222222;
  }
  
#yield .icon-textarea {
    float: right;
    margin-right: 8px;
    margin-top: -104px;
    position: relative;
    z-index: 2;
    color: #222222;
  }

#productcards  p {
    margin-bottom: 0px !important
}

#productcards #yield div:nth-child(2) {
    display: flex !important;
    flex-direction: column!important;
    align-items: flex-start!important;
    margin-top: var(--S1) !important;
}

#productcards #yield div:nth-child(3) {
    display: flex !important;
    flex-direction: column!important;
    align-items: flex-start!important;
    margin-top: var(--S1) !important;
}

#productcards #yield .input-group {
    background-color: var(--white) !important;
    border: 1px solid var(--light-grey) !important;
    border-radius: var(--s1);
    display: flex !important;
    flex-direction: row !important;
}

#productcards #calltoaction {
    margin-bottom: var(--S3)!important;
}

#productcards #calltoaction .btn-black-share {
    padding: 10px 12px!important;
    margin-right: var(--s2);
    border-bottom: none!important;
    background-color: var(--black);
    border-radius: var(--S1);
    
}

#productcards #calltoaction .btn-black-share img{
    height: 24px;
    width: 18px;
}

#productcards #calltoaction .btn-primary {
    padding: var(--s1) var(--s3) !important;
    margin-right: var(--s2);
    font-size: var(--f9) !important
}