<app-mobiletopnav></app-mobiletopnav>

<app-pageloader [isLoading]="pageLoading"></app-pageloader>

<h4>Profile Settings</h4>


<p *ngIf="isUpdated">Profile Update</p>

<form [formGroup]="profileForm">
<div class="pt-3" id="profileform">
    <div class="two-column-desktop">
        <div>
            <input type="text" formControlName="firstname" placeholder="First name"/>
        </div>
    
        <div>
            <input type="text" formControlName="lastname" placeholder="Last name"/>
        </div>
    </div>
    
    <div class="two-column-desktop">
        <div>
            <input type="email" formControlName="email" placeholder="Email"/>
        </div>
    
        <div>
            <input type="text" formControlName="phone" placeholder="Phone number"/>
        </div>
    </div>
    <div class="two-column-desktop">
        <div>
            <select formControlName="country" (ngModelChange)="onCountrySelected($event)" >
                <option *ngFor="let country of countries" [value]="country.iso2" >
                    {{country.name}}
                </option>
            </select>
        </div>
        <div>
            <select formControlName="city" >
                <option *ngFor="let state of states" [value]="state.iso2">
                    {{state.name}}
                </option>
            </select>
        </div>
    </div>

    <div >
        <input type="text" formControlName="address" placeholder="Address">
    </div>
    <div>
        <button class="btn btn-primary mt-3"(click)="updateProfile()">Update Profile</button>
    </div>
    
</div>
</form>
