.topnav {
    display: flex;
    flex-direction: row;
    align-items: center!important;
    margin-bottom: var(--s3);
}

.notification{
    display: none!important;
}

.notification-wrapper {
    position: unset;
}

@media only screen and (min-width: 600px) {

    .topnav{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .notification {
        display: flex!important;
        padding: 16px 30px;
    }

    .notification-wrapper {
        position: relative;
        z-index: 30;
        display: inline-block;
    }

}