
<div class="topnav">

        <div>
            <app-searchbar 
                [show]="showSearch" 
                [project]="projectSearch" 
                [investment]="investmentSearch"
            >
            </app-searchbar>
        </div>
        

        <div class="notification-wrapper">
            <div class="notification" (click)="toggleModal()">
                <span class="iconify" data-icon="system-uicons:bell" data-width="30" data-height="30"></span>
            </div>
            <app-notification
                [showNotification]="showModal"
            ></app-notification>
        </div>

</div>


