<app-mobiletopnav></app-mobiletopnav>

<app-welcomeheader></app-welcomeheader>

<div class="row " id="top-cards">

    <div class="col-lg-6 col-md-12">

        <div class="card " id="setprofile">
            <p>
                Set up your profile and <br> fund your wallet.
            </p>

            <div class="wp-container ">
                <div>
                    <img src="../../../../assets/images/icons/Wallet.png" alt="wallet">
                </div>

                <div>
                    <img src="../../../../assets/images/icons/Profile.png" alt="profile">
                </div>
            </div>

            <img class="time-img" src="../../../../assets/images/illustrations/Time management.png" alt="timemanagement">

        </div>

    </div>
    <div class="col-lg-6 col-md-12">

        <div class="card" id="activity">

            <div class="row" id="activity-header">
                <div class="col-12 d-flex flex-row justify-content-between">

                    <div class="title">
                        Activity
                    </div>

                    <div class="date">
                        12-04-2022
                    </div>

                </div>
            </div>

            <ul>
                <li><a href="#"><small>Kuala University Solar panel 187.92 sold out at 23.10 USD</small></a></li>
                <li><a href="#"><small>Kuala University Solar panel 187.92 added to available project 3 secs ago at 23.10 USD</small></a></li>
                <li><a href="#"><small>You bought 5 cells of Lagos state university solar project at 230 USD</small></a></li>
            </ul>

        </div>

    </div>
</div>

<div class="row" id="bottom-cards">

    <div class="col-lg-3 col-md-6  col-sm-6">
        <div class="card" id="wallet-balance">
            <p>
                Wallet Balance
            </p>

            <h5>
                0.00 USD
            </h5>

            <small>
                0.00 NGN
            </small>

            <a class="btn btn-black" routerLink=""><small> Fund Wallet  </small> </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6  col-sm-6">
        <div class="card" id="earnings">
            <p>
                Investment Earnings
            </p>

            
            <h5>
                0.00 USD
            </h5>

            <small>
                0.00 NGN
            </small>

            <a class="btn btn-primary-light" routerLink=""> Invest Now </a>
        </div>
    </div>

    <div class="col-lg-3  col-sm-6">

        <div class="card" id="projects">
            <P>Projects</P>

            
            <h5>
                0.00 USD
            </h5>

            <small>
                0.00 NGN
            </small>

            <a class="btn btn-black" routerLink=""> View projects</a>
        </div>

    </div>

    <div class="col-lg-3 col-sm-6">

        <div class="card" id="cells">
            <p>Cells Bought</p>

            <h5>0</h5>

            <a class="btn btn-primary-light" routerLink=""> View projects</a>
        </div>

    </div>

</div>

<div class="row" >

    <div class="col-12">
        <h5 class="available-project">All available projects</h5>
    </div>

    <div class="col-12 mt-3 " style="margin-bottom: 0px !important;">
        <div class=" scrolling-wrapper">

            <app-projectcard></app-projectcard>

            <app-projectcard></app-projectcard>

            <app-projectcard></app-projectcard>

        </div>
    </div>

    <div class="col-12" id="allproject-btn">
        <a class="btn btn-black" routerLink="../projects"> View All projects</a>
    </div>

</div>
