<app-mobiletopnav></app-mobiletopnav>

<app-welcomeheader [showSalution]="true"></app-welcomeheader>

<app-pageloader [isLoading]="pageLoading"></app-pageloader>

<div class="main-container">
    <section class="stat-cards">
        <div id="top-cards">
            <div class="card" id="wallet-balance">
                <p>
                    Wallet Balance
                </p>

                <h5>
                    {{bank_balance + crypto_balance}}.00 USD
                </h5>

                <small>
                    0.00 NGN
                </small>

                <a class="btn btn-black" routerLink="/app/wallet/home"><small> Fund Wallet  </small> </a>
            </div>

            <div class="card" id="earnings">
                <p>
                    Earnings
                </p>

                
                <h5>
                    0.00 USD
                </h5>

                <small>
                    0.00 NGN
                </small>

                <a class="btn btn-primary-light" routerLink="/app/projects/home"> Invest Now </a>
            </div>

            <div class="card" id="projects">
                <p>Projects</p>

                
                <h5>
                    {{total_projects}}
                </h5>

                <a class="btn btn-black" routerLink="/app/projects/home"> View projects</a>
            </div>

            <div class="card" id="cells">
                <p>Cells Bought</p>

                <h5>{{total_cells}}</h5>

                <a class="btn btn-primary-light" routerLink="/app/investments"> View projects</a>
            </div>
        </div>

        <div id="bottom-cards">

            <app-activitycard></app-activitycard>
        
        </div>
    </section>

    <section class="active-projects">

        <div>
            <h5 class="available-project">Now Available projects</h5>
        </div>
        <div *ngIf="projects.length !== 0" >
            <div class="mt-3 " style="margin-bottom: 0px !important;">
                <div class=" scrolling-wrapper">
                    <div *ngFor="let project of projects">
                        <app-projectcard
                        [id]="project._id"
                        title={{project.title}}
                        description={{project.description}} 
                        [cost]="project.cost_per_cell"
                        ></app-projectcard>
                    </div>

                    
                </div>
                
            </div>

            <div class="col-12" id="allproject-btn">
                <app-primarybtnone 
                [size3]="true"
                label="View all projects"
                (click)="gotoProjects()"
                ></app-primarybtnone>
            </div>
        </div>
        <div *ngIf="projects.length === 0">
            <app-empty
                label="No Project has been added yet"
                image="../../../../../assets/images/illustrations/empty.png"
            ></app-empty>
        </div>

    </section>
</div>
