<div class="card" (click)="viewDetails">
    <img src="../../../../assets/images/thumbnail.jpg" alt="thumbnail"/>
    <div class="card-content">
        <a class="title" routerLink="i">Kuala University</a>

        <small class="invested">Invested Amount</small>

        <h5 class="USD">722 USD</h5>

        <small class="NGN">300,000 NGN</small>

        <small class="timeline"><b>234</b> days left</small>

        <div class="progress-bar">
            <div class="progress">

            </div>
        </div>
    </div>

</div>