<div class="navigation">

        <div class="container-fluid" id="sidenav">

              <div class="row logo">
                <div class="col p-5 text-center">
                    <h4>LOGO</h4>
                </div>
              </div>

              <div class="menu-list">
                <app-menuitem icon="Category.png" [mobile]="false" label='Dashboard' url='/app/dashboard'></app-menuitem>
                
                <app-menuitem icon="Folder.png" [mobile]="false" label='Project' url='/app/projects/home'></app-menuitem>

                <app-menuitem icon="Wallet.png" [mobile]="false" label='Wallet' url='/app/wallet/home'></app-menuitem>

                <app-menuitem icon="Chart.png" [mobile]="false" label='Investment' url='/app/investments'></app-menuitem>

                <app-menuitem icon="Profile.png" [mobile]="false" label='Profile' url='/app/user/profile'></app-menuitem>

                <app-menuitem icon="Setting.png" [mobile]="true"  label='Settings' url='/app/user/settings'></app-menuitem>
          
                <app-menuitem icon="Setting.png" [mobile]="true"  label='logout' url='#' (click)="logout()"></app-menuitem>

              </div>
          
        </div>

</div>
