<div class="main-container">
    <nav>
        <div class="logo-area">
            <div>Logo</div>
            <div class="showMenu">Menu</div>
        </div>

        <div class="menu">
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Why Us</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">How To Invest</a></li>
                <li><a href="#">Company</a></li>
            </ul>
        </div>

        <div class="auth">
            <ul>
                <li><a href="#" class="signin">Sign In</a></li>
                <li><a href="#" class="btn btn-primary font">Get Started</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero">
        <div class="hero-content">
            <h1>
                Conserve for the<br> Generations to come
            </h1>

            <p>
                Invest in low risk, high impact solar energy projects <br> and earn rental income for up to 20years. 
            </p>

            <div class="hero-buttons">
                <a href="#" class="btn-dark">View Available Project</a>
                <a href="#" class="btn-primary">Get Started</a>
            </div>
        </div>
        
        <div class="illustration">
            <img src="../../../assets/images/illustrations/landing/hero.png" alt="hero-img"/>
        </div>
    </div>

    <section class="why">
        <h3>Why Sunglo</h3>
        <p>Enjoy the benefits of investing in a high-quality solar project.Purchase a portfolio plan<br> with a minimum purchase of one kilo-watt.</p>

        <div class="cards-grid">
            <div class="card" id="card1">
                <img src="../../../assets/images/illustrations/landing/card1.png" alt="earn with purpose"/>
                <div>
                <h4>Earn with purpose</h4>
                <p>
                    Just like the way you purchase real estate you can
purchase solar cells then lease them out to schools, businesses, communities in an emerging economy.
                </p>
            </div>
            </div>

            <div class="card" id="card2">
                <div>
                <h4>Energy Asset Diversification</h4>
                <p>

 You can diversify your solar asset portfolio across different industries to increase your impact and earn more rental income while balancing your risk portfolio.
</p>
</div>
                <img src="../../../assets/images/illustrations/landing/card2.png" alt="earn with purpose"/>

            </div>

            <div class="card" id="card3">
                <img src="../../../assets/images/illustrations/landing/card3.png" alt="earn with purpose"/>

                <div>
                    <h4>No Volatility</h4>
                    <p>
                        Unlike Stocks, Crypto, ETFs. Investing in solar projects has no market volatility, We identify empty roof spaces of high impact commercial energy consumers and lease out your solar cells at a fixed rental income rate. These businesses enjoy the privilege of lowering their electricity bill while you earn a fixed monthly rental return. 
                    </p>

                </div>
            </div>

            <div class="card" id="card4">
                <div>
                <h4>Best-In-Class Solar Projects</h4>
                <p>
                    All the Solar Project options listed on Sunglo, are carefully screened and vetted, managed by energy professionals and fund managers. All the diverse energy investments are managed by a third-party custodian structure and are fully insured with asset warranty from original equipment manufacturers. 
                </p>
            </div>
                <img src="../../../assets/images/illustrations/landing/card4.png" alt="earn with purpose"/>

            </div>
        </div>
    </section>

    <section class="get-started">
        <div>

        </div>
        <div>
            <h3>The easy way to own your share</h3>
            <p>
                Income-producing power plants across Africa
Sunglo is an exclusive peer to peer leasing platform to purchase and own your share of an income-producing solar plant, right from your mobile phone or computer.
            </p>
            <a href="#" class="btn-primary">Get Started</a>
        </div>
    </section>

    <section class="invest">
        <h3>How To Invest</h3>

        <h4>Put Your Money to work while doing good</h4>
        <p>Join a global community from all corners of the world that's solar powering the planet and creating a sustainable energy future.</p>
    
        
    
    </section>
    
</div>
