<div class="main-container">
    
    <app-landing-nav></app-landing-nav>

    <app-landinghero></app-landinghero>

    <app-landingwhy></app-landingwhy>

    <section class="get-started">
        <div>
            <p class="invest">Invest on the go. Anywhere, anytime...</p>
            <div class="img-container">
                <img class="desktop-laptop" src="../../../assets/images/illustrations/landing/Device - Macbook Pro.png"/>
                <img class="desktop-phone" src="../../../assets/images/illustrations/landing/Variant3.png"/>

                <img class="mobile-laptop" src="../../../assets/images/illustrations/landing/mobile/Device - Macbook Pro.png"/>
                <img class="mobile-phone" src="../../../assets/images/illustrations/landing/mobile/Variant3.png"/>
            </div>
        </div>
        <div>
            <h3>The easy way to own your share</h3>
            <p>
                Income-producing power plants across Africa
Sunglo is an exclusive peer to peer leasing platform to purchase and own your share of an income-producing solar plant, right from your mobile phone or computer.
            </p>
            
            <div>
                <a href="#" class="btn-primary">Get Started</a>
            </div>
            
        </div>

    </section>

    <app-landinginvest></app-landinginvest>

    <app-landingfeature></app-landingfeature>

    <app-landingprotect></app-landingprotect>

    <app-landingsolarasset></app-landingsolarasset>

    <app-landingbank></app-landingbank>

    <app-landingfooter></app-landingfooter>
    
</div>
