<div class="main-container">
    
    <app-landing-nav></app-landing-nav>

    <app-landinghero></app-landinghero>

    <app-landingwhy></app-landingwhy>

    <section class="get-started">
        <div>

        </div>
        <div>
            <h3>The easy way to own your share</h3>
            <p>
                Income-producing power plants across Africa
Sunglo is an exclusive peer to peer leasing platform to purchase and own your share of an income-producing solar plant, right from your mobile phone or computer.
            </p>
            <a href="#" class="btn-primary">Get Started</a>
        </div>
    </section>

    <app-landinginvest></app-landinginvest>

    
    
</div>
