<app-mobiletopnav></app-mobiletopnav>

<app-topnav></app-topnav>

<div class="row">
    <div class="col-12">
        <h5>All available projects</h5>
    </div>

    <div class="row mt-2" id="project-grid">
        <div class="col-lg-6 col-md-12">
            <app-projectcard></app-projectcard>
        </div>
        <div class="col-lg-6 col-md-12">
            <app-projectcard></app-projectcard>
        </div>
        <div class="col-lg-6 col-md-12">
            <app-projectcard></app-projectcard>
        </div>
        <div class="col-lg-6 col-md-12">
            <app-projectcard></app-projectcard>
        </div>
    </div>
</div>
