<div class="hero">
    <div class="hero-content">
        <h1>
            Conserve for the<br> Generations to come
        </h1>

        <p>
            Invest in low risk, high impact solar energy projects <br> and earn rental income for up to 20years. 
        </p>

        <div class="hero-buttons">
            <a href="#" class="btn-dark">View Available Project</a>
            <a routerLink="/register" class="btn-primary">Get Started</a>
        </div>
    </div>
    
    <div class="illustration">
        <div class="video">
gold
        </div>
    </div>
</div>