.bank {
    padding: 0px 136px 177.3px 136px;
    display: grid;
    grid-template-columns: 739px auto ;
    column-gap: 20px;
}

.bank img {
    width: 739px;
    height: 431.7px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h3 {
    font-weight: 500;
    font-size: 34px !important;
    line-height: 44px;
    margin-bottom: 16px;
}

.content p {
    font-weight: 400;
    font-size: 16px!important;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(11, 11, 11, 0.8);
    margin-bottom: 42px;
}

.btn-primary {
    box-shadow: 3.5px 11.5px 17px rgba(5, 195, 221, 0.31) !important;
    width: 193px!important;
    padding: 15px 0px!important;
    font-weight: 500;
    font-size: 14px!important;
    line-height: 17px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .bank {
        padding: 0px 28px 32px 28px;
        grid-template-areas: 'img' 'content';
        grid-template-columns: 1fr;
        row-gap: 15.96px;
    }

    .content {
        grid-area: content
    }

    .content h3 {
        font-weight: 500;
        font-size: 16px!important;
        line-height: 24px;
        margin-bottom: 8px;
    }

    .content p {
        font-weight: 400;
        font-size: 12px !important;
        line-height: 18px;
        margin-bottom: 16px;
    }

    .image-container {
        grid-area: img;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .image-container img {
        width: 250px;
        height: 146px;
    }

    .btn-primary {
       
        width: 150px!important;
        padding: 11px 0px!important;
        font-weight: 500;
        font-size: 12px!important;
        line-height: 16px;
        text-align: center;
    }
}