<div class="bank">
    <div class="image-container">
        <img src="../../../../assets/images/illustrations/landing/5553 1.png" alt="bank grade"/>
    </div>
    <div class="content">
        <h3>
            Bank-grade Security
        </h3>

        <p>
            Our payment processors are PCI-DSS compliant to ensure the security of your data electronically. All cards and bank data are encrypted to prevent unauthorized access to sensitive information.
        </p>

        <a routerLink="#" class="btn-primary">Get Started</a>
    </div>
   
</div>