<app-mobiletopnav></app-mobiletopnav>

<app-topnav [showSearch]="false"></app-topnav>

<div class="" id="wallet-cards">
  
    <div class="deposit-cards">
        <div class="card " id="wallet">
        
                <div class="title">
    
                    <h5>Sunglo Wallet</h5>
    
                    <div class="circle-container">
                        <div id="blue-circle"></div>
                        <div id="black-circle"></div>
                    </div>
    
                </div>
            
                <div class="stat">
                    <p>0 USD</p>
                    
                    <small>{{bank_balance}} NGN</small>
                </div>
       
    
            <div id="footer">  
                    <app-secondarybtntwo
                        label="Fund"
                        [size4]="true"
                        (click)="openDepositModal()"
                        >
                    </app-secondarybtntwo>
            </div>
    
        </div>
    
        <div class="card " id="crypto-wallet">
            
                <div class="title">
    
                    <h5>Crypto Wallet</h5>
    
                    <div class="circle-container">
                        <div id="blue-circle"></div>
                        <div id="black-circle"></div>
                    </div>
    
                </div>
            
            
                <div class="stat">
                    <p>0 USD</p>
                    
                    <small>{{crypto_balance}} NGN</small>
                </div>
            
    
            <div  id="footer">
                <app-primarybtntwo [size4]="true" label="Fund" ></app-primarybtntwo>
                
            </div>
    
        </div>
    </div>

    <div class="card " id="investment-card">

        <div class="title">
            
                <h5>Total Withdrawal</h5>

                <div class="circle-container">
                    <div id="blue-circle"></div>
                    <div id="white-circle"></div>
                </div>

        </div>

        <div class="stat">
           
                <p class="mb-1">0 USD</p>
                
                <small>0 NGN</small>
        </div>
        
        
        <div  id="footer">
            <app-secondarybtntwo
                (click)="openDepositModal()"
                        label="Withdraw"
                        [size4]="true">
            </app-secondarybtntwo>
        </div>

    </div>
    
</div>

<!-- Bank account -->
<div class="row mt-4">
    <div class="col-12">
        <h5> My Withdrawal Account </h5>

        <div class="row">
            <div class="col-lg-6 col-md-12">

                <div id="withdrawal-account-container" *ngIf="account_no !== undefined" >

                    <div id="black-circle">
                        <img src="../../../../assets/images/icons/check.png">
                    </div>

                    <div class="card" id="withdrawal-card">

                        <p>
                            {{account_name}}
                        </p>

                        <p>
                            {{account_no}} -  {{account_bank}}
                        </p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <button 
                    (click)="openaddBankModal()"
                    *ngIf="account_no === undefined" 
                    class="btn btn-black-outline">Add Account</button>
                <button (click)="openaddBankModal()" *ngIf="account_no !== undefined" class="btn btn-black-outline">Edit Account</button>
            </div>
        </div>

    </div>
</div>

<!-- Crypto address -->
<div class="row mt-4">
    <div class="col-12">
        <h5> Crypto Receiving Address </h5>

        <div class="row">
            <div class="col-lg-6 col-md-12">

                <div id="withdrawal-account-container" *ngIf="crypto_address !== undefined" >

                    <div id="black-circle">
                        <img src="../../../../assets/images/icons/check.png">
                    </div>

                    <div class="card" id="withdrawal-card">

                        <p>
                            {{crypto_address}}
                        </p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <button (click)="openaddCryptoModal()" *ngIf="crypto_address === undefined" class="btn btn-black-outline">Add Crypto Address</button>
                <button (click)="openaddCryptoModal()"  *ngIf="crypto_address !== undefined" class="btn btn-black-outline">Edit Crypto Address</button>
            </div>
        </div>

    </div>
</div>

<!-- Transaction history-->
<div class="row" id="transaction">
    <div class="transaction-header">
        <p>Transaction History</p>

        <div class="transaction-date">
            Jan / 2022
        </div>
    </div>

    <div class="mobile-transaction-date">
        <div>

        </div>

        <div>
            
        </div>
    </div>

    <div class="col-12 transaction-details">
        <!-- <app-transactiontable></app-transactiontable> -->
        <app-empty
            label="No transaction yet"
            image="../../../../../assets/images/illustrations/empty.png"
        ></app-empty>
    </div>
</div>

<!-- Withdraw from wallet Modal-->
<app-modalcontainer [show]="showdepositModal">
    <app-modalcard [size1]="true"  title="Sunglo Withdrawal" (close)="closeDepositModal($event)">
        <app-withdrawal
            (verifyWithdrawal)="verifyWithdrawal()"
        ></app-withdrawal>
    </app-modalcard>
</app-modalcontainer>

<!-- verify withdrawal -->
<app-modalcontainer [show]="showverifyWithdrawalModal">
    <app-modalcard [size1]="true"  title="Sunglo Withdrawal" (close)="closeDepositModal($event)">
       <app-verifywithdrawal
        (verifyWithdrawal)="withdraw($event)"
       ></app-verifywithdrawal>
    </app-modalcard>
</app-modalcontainer>

<!-- add bank details -->
<app-modalcontainer [show]="showaddBankModal">
    <app-modalcard [size1]="true"  title="Add Bank Details" (close)="closeaddBankModal($event)">
        <app-add-bank 
        [bank_name]= "account_bank"
        [account_name]= "account_name"
        [account_no]= "account_no"
        (addBankaddress)="addBank($event)"></app-add-bank>
    </app-modalcard>
</app-modalcontainer>

<!-- add crypto details -->
<app-modalcontainer [show]="showaddCryptoModal">
    <app-modalcard [size1]="true"  title="Add Crypto Address" (close)="closeaddCryptoModal($event)">
        <app-add-crypto (addCryptoaddress)="addCrypto($event)" [address]="crypto_address"></app-add-crypto>
    </app-modalcard>
</app-modalcontainer>

<!-- Successful transaction -->
<app-modalcontainer [position]="true"  [show]="showSuccessModal">
    <app-modalcard [position]="true" (close)="closeSuccessModal($event)"> 
    <app-successmodal
        [text]="successText"
    >
    </app-successmodal>
</app-modalcard>
</app-modalcontainer>
