<app-mobiletopnav></app-mobiletopnav>

<app-topnav [showSearch]="false"></app-topnav>

<div class="" id="wallet-cards">
  
    <div class="deposit-cards">
        <div class="card " id="wallet">
        
                <div class="title">
    
                    <h5>Sunglo Wallet</h5>
    
                    <div class="circle-container">
                        <div id="blue-circle"></div>
                        <div id="black-circle"></div>
                    </div>
    
                </div>
            
                <div class="stat">
                    <p>0 USD</p>
                    
                    <small>{{bank_balance}} NGN</small>
                </div>
       
    
            <div id="footer">  
                    <button (click)="openDepositModal()"class="btn">Fund Wallet</button>
            </div>
    
        </div>
    
        <div class="card " id="crypto-wallet">
            
                <div class="title">
    
                    <h5>Crypto Wallet</h5>
    
                    <div class="circle-container">
                        <div id="blue-circle"></div>
                        <div id="black-circle"></div>
                    </div>
    
                </div>
            
            
                <div class="stat">
                    <p>0 USD</p>
                    
                    <small>{{crypto_balance}} NGN</small>
                </div>
            
    
            <div  id="footer">
                 
                <button (click)="openDepositModal()" class="btn">Fund Wallet</button>
                
            </div>
    
        </div>
    </div>

    <div class="card " id="investment-card">

        <div class="title">
            
                <h5>Total Investments</h5>

                <div class="circle-container">
                    <div id="blue-circle"></div>
                    <div id="white-circle"></div>
                </div>

        </div>

        <div class="stat">
            <div class="">
                <img src="../../../../assets/images/icons/Arrow 1.png">
            </div>
            <div class="">
                <p class="mb-1">0 USD</p>
                
                <small>0 NGN</small>
            </div>
        </div>
        

    </div>
    
</div>

<div class="row mt-4">
    <div class="col-12">
        <h5> My Withdrawal Account </h5>

        <div class="row">
            <div class="col-lg-6 col-md-12">

                <div id="withdrawal-account-container" *ngIf="account_no !== undefined" >

                    <div id="black-circle">
                        <img src="../../../../assets/images/icons/check.png">
                    </div>

                    <div class="card" id="withdrawal-card">

                        <p>
                            {{account_name}}
                        </p>

                        <p>
                            {{account_no}} -  {{account_bank}}
                        </p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <a href="#" *ngIf="account_no === undefined" class="btn btn-black-outline">Add Account</a>
                <a href="#" *ngIf="account_no !== undefined" class="btn btn-black-outline">Edit Account</a>
            </div>
        </div>

    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <h5> Crypto Receiving Address </h5>

        <div class="row">
            <div class="col-lg-6 col-md-12">

                <div id="withdrawal-account-container" *ngIf="crypto_address !== undefined" >

                    <div id="black-circle">
                        <img src="../../../../assets/images/icons/check.png">
                    </div>

                    <div class="card" id="withdrawal-card">

                        <p>
                            {{crypto_address}}
                        </p>

                    </div>

                </div>

            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-6">
                <a href="#" *ngIf="crypto_address === undefined" class="btn btn-black-outline">Add Crypto Address</a>
                <a href="#" *ngIf="crypto_address !== undefined" class="btn btn-black-outline">Edit Crypto Address</a>
            </div>
        </div>

    </div>
</div>

<div class="row" id="transaction">
    <div class="col-12">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-between align-items-center ">
                <p>Transaction History</p>

                <div class="transaction-date">
                    Jan / 2022
                </div>
            </div>
        </div>
    </div>
    <div class="mobile-transaction-date">
        <div>

        </div>

        <div>
            
        </div>
    </div>

    <div class="transaction-details">

    </div>
</div>

<!-- Deposit Modal-->
<app-modalcontainer [show]="showdepositModal">
    <app-modalcard (close)="closeDepositModal($event)">
        <div>
            <h5>0.0 USD</h5>
            <p>0 NGN</p>
        </div>
        <div class="deposit-content">
            <div class="deposit-amount">
                <h5>0.0 USD</h5>
                <p>0 NGN</p>
            </div>
            <div>
                <form>
                    <input type="text" class="form-controls" placeholder="Enter deposit amount"/>
                    <button type="submit" class="btn btn-primary">Continue</button>
                </form>
            </div>
        </div>
    </app-modalcard>
</app-modalcontainer>
