<app-mobiletopnav></app-mobiletopnav>
<h4>Profile Settings</h4>

<form>
<div class="pt-3" id="profileform">
    <div class="two-column-desktop">
        <div class="">
            <input type="text" placeholder="First name"/>
        </div>
    
        <div class="">
            <input type="text" placeholder="Last name"/>
        </div>
    </div>
    
    <div class="two-column-desktop">
        <div class="">
            <input type="email" placeholder="Email"/>
        </div>
    
        <div class="">
            <input type="text" placeholder="Phone number"/>
        </div>
    </div>
    <div class="two-column-desktop">
        <div>
            <select>
                <option>Country</option>
            </select>
        </div>
        <div>
            <select>
                <option>City</option>
            </select>
        </div>
    </div>

    <div >
        <input type="text" placeholder="First name"/>
    </div>
    
    <app-button classes="btn btn-primary mt-3" label="Update Profile"></app-button>
</div>
</form>
