<app-mobiletopnav></app-mobiletopnav>
<h4>Profile Settings</h4>

<form>
<div class="row pt-3" id="profileform">
    <div class="col-lg-6 col-md-12 ">
        <input type="text" placeholder="First name"/>
    </div>

    <div class="col-lg-6 col-md-12">
        <input type="text" placeholder="Last name"/>
    </div>

    <div class="col-lg-6 col-md-12 ">
        <input type="email" placeholder="Email"/>
    </div>

    <div class="col-lg-6 col-md-12">
        <input type="number" placeholder="Phone number"/>
    </div>
</div>
</form>
