<div class="card">
    <div class="card-nav">
        <div>
            {{title}}
        </div>
        <div (click)="closeModal()">
            <span class="iconify" data-icon="akar-icons:cross" style="color: black;" data-width="12" data-height="12"></span>
        </div>
    </div>
    <div class="card-body"
        [class.size1]="size1===false"
        [class.size2]="size1===true"
        [class.bottom]="position===false"
        [class.center]="position===true"
        >
        <ng-content></ng-content>
    </div>
</div>