.card {
    background: #FFFFFF;
    border-radius: 16px;
    width: fit-content;
}

.card-nav {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-nav div:last-child {
    cursor: pointer
}

.card-body {
    padding: 0px 46px 46px 46px
}

@media screen and (max-width: 600px){
    .card {
       
    }
    .card-nav {
        padding: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bottom {
        padding: 0px 16px 115px 16px;
        width: 100vw;
    }

    .center{
        width: fit-content;
        padding: 0px 16px 36px 16px;
    }
}

