<table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>TransactionType</th>
        <th>Transaction Method</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>12-04-2022 13:09:24</td>
        <td>$340,000.00</td>
        <td>Crypto Credit</td>
        <td>Bitcoin</td>
        <td>Completed</td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
    <tr>
        <td>1</td>
        <td>23</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>