<p>Select a payment method to continue</p>

<div class="card-container">
    <div class="bank-card">
        <div class="content">
            <div class="label">Pay With Bank</div>

            <app-secondarybtnone
                [size3]="true"
                label="Pay Now"
                (click)="payWithBank()"
            >
            </app-secondarybtnone>
        </div>
        <img class="illustration bank-img" src="../../../../../../../assets/images/illustrations/wallet/bank.png" alt="bank"/>
    </div>
    <div class="crypto-card">
        <div class="content">
            <div class="label">Pay With Crypto</div>

            <app-primarybtnone 
                [size3]="true"
                label="Pay Now"
                (click)="payWithCrypto()"
                >
            </app-primarybtnone>
        </div>
        <img class="illustration crypto-img" src="../../../../../../../assets/images/illustrations/wallet/crypto.png" alt="crypto"/>

    </div>
</div>
