#earnings {
    padding: var(--S1);
    border-color: var(--primary-light) !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#earnings p {
    
    color: var(--black)!important;
    font-weight: 500 !important;
}

#earnings small {
    color: var(--primary);
    font-weight: 500 !important;
    margin-bottom: var(--s2);
}