.button {
    background: #FFFFFF;
    border: 1px solid rgba(6, 182, 202, 0.5);
}

.px1 {
    padding-left: 122px;
    padding-right: 122px;
}

.px2 {
    padding-left: 91px!important;
    padding-right: 91px!important;
}

.px3 {
    padding-left: 67px;
    padding-right: 67px;
}



@media screen and (max-width: 600px){
    .py1 {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .px2 {
        padding-left: 32px!important;
        padding-right: 32px!important;
    }
}