<div class="card" id="activity">
    <div id="activity-header">
            <div class="title">
                Activity
            </div>
            <div class="date">
                12-04-2022
            </div>
    </div>
    <ul class="activity-main">
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 sold out at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 added to available project 3 secs ago at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">You bought 5 cells of Lagos state university solar project at 230 USD</a></li>
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 sold out at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 added to available project 3 secs ago at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">You bought 5 cells of Lagos state university solar project at 230 USD</a></li>
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 sold out at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">Kuala University Solar panel 187.92 added to available project 3 secs ago at 23.10 USD</a></li>
        <li><a routerLink="../projects/i">You bought 5 cells of Lagos state university solar project at 230 USD</a></li>
        
    </ul>
</div>