/** Desktop **/
input:focus, input:active
 {
    outline: none!important;
    border: none!important;
}
.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-area {
    padding: 67px 67px 0px 126px;
}

.form-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.form-nav p, .form-nav a {
    font-size: 16px!important;
    font-weight: 400;
    line-height: 24px;
}

.form-container {
    margin-top: 42px;
}

.form-container h2 {
    font-size: 42px !important;
    line-height: 48px;
    font-weight: 500 !important;
}

.form-container p {
    font-size: 16px !important;
    line-height: 22px;
    font-weight: 400 !important;
    margin-top: 16px;
    color: rgba(11, 11, 11, 0.6)!important;
}

.form-container form {
    margin-top: 56px;
}

.w-100 {
    width: 100%!important;
    padding: 20px 0px !important;
}

.illustration {
    position: relative;
}

.illustration .image1 {
    height: 100%;
    
}

.illustration .image2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3
}

.illustration .image3 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.illustration .image4 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.illustration .image5 {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.illustration .image6 {
    position: absolute;
    top: 0;
    z-index: 4;
    margin-top: 190px;
    padding: 0px !important;
    width: 100%;
}

/** Phone view **/
@media screen and (max-width: 600px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .form-area {
        padding: 56px 28px;
    }

    .form-nav p, .form-nav a {
        font-size: 12px!important;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0px!important
    }

    .form-nav .signin {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-container {
        margin-top: 32px;
    }

    .form-container h2 {
        font-size: 20px !important;
        line-height: 28px;
        font-weight: 500 !important;
    }

    .form-container p {
        font-size: 12px !important;
        line-height: 16px;
        font-weight: 400 !important;
        margin-top: 8px;
    }

    .form-container form {
        margin-top: 51px;
    }

    .w-100 {
        width: 100%!important;
        padding: 12px 0px !important;
    }

    .illustration {
        display: none;
    }
}

/** form **/
/** desktop **/
.input-group {
    margin-top: 38px !important;
    display: flex;
    flex-direction: row;
}

.input-group:first-child {
    margin-top: 0px;
}

.input-group-text {
    display: flex;
    flex-direction: row;
    place-items: center;
    padding: 10px 20px;
}

/** mobile **/
@media screen and (max-width: 600px) {
    .input-group {
        margin-top: 33px;
    }
    
    .input-group:first-child {
        margin-top: 0px;
    }

    .input-group-text {
        display: flex;
        flex-direction: row;
        place-items: center;
        padding: 12px;
    }
}