<div class="container">
    <div class="row h-fullscreen d-flex flex-row align-content-center">
        <!-- form area-->
        <div class="col-lg-6">
            <!-- Navigation-->
            <div class="mb-3 d-flex justify-content-between align-content-center">

                
                    <app-backbutton></app-backbutton>
             
                
                <div class="d-flex align-self-center">
                    <p> Already a member? <a routerLink="#">Sign In</a></p>
                </div>

            </div>

            <!-- Form -->
            <div>

                <h2 class="mb-2">Sign Up</h2>

                <p class="mb-3">Invest today - Enjoy tomorrow with Sunglo</p>

                <form>

                    <app-inputtext type="text" placeholder="Full Name" icon="user.jpg"></app-inputtext>

                    <app-inputtext type="text" placeholder="Email" icon="mail.jpg"></app-inputtext>

                    <app-inputtext type="text" placeholder="Phone Number" icon="telephone.jpg"></app-inputtext>

                    <app-inputtext type="text" placeholder="Password" icon="password 1.jpg"></app-inputtext>

                    <app-inputtext type="text" placeholder="Confirm Password" icon="password 2.jpg"></app-inputtext>

                    <div class="mt-3"></div>

                    <app-button label="Sign Up"></app-button>

                </form>

            </div>
        </div>

        <!-- Illustration area -->
        <div class="col-lg-6">
1
        </div>
    </div>
</div>
