<div  id="productcards">
    <div class="bg-primary thumbnail">
        <img src="../../../../assets/images/thumbnail.jpg">
    </div>
    <div class="card-content">
        <h5>
            {{title}}
        </h5>

        <small class="">
            {{description}}
        </small>
            
            <div class="row" id="yield">
                <div class="col-12">
                    <app-statsdisplay label="Cost per cell" value={{value}} ></app-statsdisplay>
                </div>
               
            </div>

            <div class="product-button" id="calltoaction">
                
                    <div class="btn btn-black-share" (click)="openShareModal()">
                        <img src="../../../../assets/images/icons/download.png">
                    </div>
                
                    <app-primarybtnone 
                        label="View Detail"
                        [fullwidth]="false"
                        [size2]="true"
                        (click)="viewDetail()"
                    ></app-primarybtnone>
            </div>
    </div>
    

</div>
<!-- insufficient funds -->
<app-modalcontainer [position]="true" [show]="showShareModal">
    <app-modalcard [position]="true" (close)="closeShareModal($event)">
       <app-shareproject shareLink="golden"></app-shareproject>
    </app-modalcard>
</app-modalcontainer>