.main-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.illustrator {
    position: relative;
}

.form-area {
    padding: 67px 126px 0px 67px;
}


.form-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.form-nav .signin {
    display: flex!important;
    flex-direction: row;
    align-items: center;
   
}

.form-nav .signup p {
    margin-bottom: 0px!important;
}

.form-nav p, .form-nav a {
    font-size: 16px!important;
    font-weight: 400;
    line-height: 24px;
}

.form-container {
    margin-top: 42px;
    width: 60%;
    
}

.form-container h2 {
    font-size: 42px !important;
    line-height: 48px;
    font-weight: 500 !important;
}

.form-container p {
    font-size: 16px !important;
    line-height: 22px;
    font-weight: 400 !important;
    margin-top: 16px;
    color: rgba(11, 11, 11, 0.6)!important;
}

.form-container form {
    margin-top: 56px;
}

.forgot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;
}

.forgot a {
    font-size: 16px!important;
    font-weight: 400;
    line-height: 22px;
}

.w-100 {
    width: 100%!important;
    padding: 12px 0px !important;
}

.illustration {
    position: relative;
}

.illustration .image1 {
    height: 100vh;
    
}

.illustration .image2 {
    position: absolute;
    top: 0;
    left: 142px;
    z-index: 3
}

.illustration .image3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.illustration .image4 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 200px;
}

.illustration .image5 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.illustration .image6 {
    position: absolute;
    top: 0;
    z-index: 4;
    margin: 180px 26px 0px 26px;
    padding: 0px !important;
    width: 100%;
    height: 600px;
    width: 600px;
}


@media screen and (max-width: 900px) {
    .main-container {
        display: flex;
        flex-direction: column;
        background: linear-gradient(180deg, #F9F9F9 0%, rgba(255, 255, 255, 0) 100%);
        backdrop-filter: blur(140px);
    }

    .form-area {
        padding: 56px 28px;
    }

    .form-nav p, .form-nav a {
        font-size: 12px!important;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 0px!important
    }

    .form-nav .signin {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .form-container {
        margin-top: 32px;
        width: 100%;
    }

    .form-container h2 {
        font-size: 20px !important;
        line-height: 28px;
        font-weight: 500 !important;
    }

    .form-container p {
        font-size: 12px !important;
        line-height: 16px;
        font-weight: 400 !important;
        margin-top: 8px;
    }

    .form-container form {
        margin-top: 51px;
    }

    .w-100 {
        width: 100%!important;
        padding: 12px 0px !important;
    }

    .input-group-text {
        display: flex;
        flex-direction: row;
        place-items: center;
        padding: 12px;
    }

    .illustration {
        display: none;
    }

    .forgot {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
       
        margin-top: 12px;
    }

    .forgot a {
        font-size: 10px!important;
        font-weight: 400;
        line-height: 14px;
    }
}