<nav>
    <div class="logo-area">
        <div>Logo</div>
        <div class="showMenu" (click)="showMenu()">
            <img src="../../../../assets/images/icons/menu.png" alt="menu icon">
        </div>
    </div>

    
    <div class="menu">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Why Us</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">How To Invest</a></li>
            <li><a href="#">Company</a></li>
        </ul>
    </div>

    <div class="auth">
        <ul>
            <li><a routerLink="/auth/login" class="signin">Sign In</a></li>
            <li><a routerLink="/auth/register" class="btn btn-primary font">Get Started</a></li>
        </ul>
    </div>
</nav>


<div class="mobile-menu" *ngIf=show>
    
    <div class="menu-list">
        <nav (click)="hideMenu()">
            X
        </nav>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Why Us</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">How To Invest</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Sign In</a></li>
            <li><a href="#" class="btn-primary"> Get Started</a></li>
        </ul>
    </div>
</div>