.button {
    background: #FFFFFF;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0B0B0B
}

.px1 {
    padding-left: 122px;
    padding-right: 122px;
}

.px2 {
    padding-left: 91px!important;
    padding-right: 91px!important;
}

.px3 {
    padding-left: 67px;
    padding-right: 67px;
}

.px4 {
    padding-left: 42px;
    padding-right: 42px;
}



@media screen and (max-width: 600px){
    
    button {
        font-size: 12px!important;
        line-height: 18px;
    }

    .py1 {
        padding-top: 8px!important;
        padding-bottom: 8px!important;
    }

    .px1 {
        padding-left: 86px;
        padding-right: 86px;
    }

    .px2 {
        padding-left: 32px!important;
        padding-right: 32px!important;
    }

    .px4 {
        padding-left: 21px;
        padding-right: 21px;
    }
}