<app-mobiletopnav></app-mobiletopnav>

<app-singletopnav></app-singletopnav>

<div id="single-title">

        <div>
            <p>Available projects</p>
        </div>

        <div>
            <small class="text-danger">{{projectsoldpercentage}}% Sold</small>
        </div>

</div>

<div class="row pt-3">
    <div class="col-12" id="thumbnail">
        <img src={{project?.thumbnail}} alt={{project?.title}}>
    </div>
</div>

<div class="project-details">
        <h5>{{project?.title}}</h5>
        <small>{{project?.operator}}</small>
        <div class="information-cards">
            <div>
           
                <app-statsdisplay 
                    label="Cost per cell" 
                    value={{project?.cost_per_cell}}
                    [fitcontent]="true"
                ></app-statsdisplay>
             
                <app-statsdisplay 
                    label="Total Cell Bought" 
                    value={{project?.sold_cell}}
                    [fitcontent]="true"
                ></app-statsdisplay>

                <div class="counter-container">
                    <small>Enter number of cells to invest</small>
                    <app-counter
                        [total_cells]=available_cells
                        (number)="getpurchasedCells($event)"
                    ></app-counter>
                </div>

                <div>
                    <app-primarybtntwo
                        label="Invest"
                        [fullwidth]="false"
                        [size1]="true"
                        (click)="openInvestModal()"
                        [disabled]="project?.availability !== 'Now Available'"
                    ></app-primarybtntwo>
                </div>

                <div>
                    <button (click)="scrollToAbout()" class="btn btn-primary-outline">
                        About the opportunity  <img src="../../../../assets/images/icons/Arrow - Left.png">
                    </button>
                </div>

            </div>

            <div>

                <p class="d-lg-none info-title">Other Information</p>

                <div id="information-cards" >
                    
                    <app-projectinfocard title="ROI" value={{project?.ROI}}></app-projectinfocard>
            
                    <app-projectinfocard title="Carbon Reduced" value={{project?.carbon_reduced}}></app-projectinfocard>
            
                    <app-projectinfocard title="Year 1 Energy Yield" value={{project?.energy_yeild}}></app-projectinfocard>
                
                    <app-projectinfocard title="Investment End Date" value={{project?.end_date}}></app-projectinfocard>
                
                    <app-projectinfocard title="Current number of Investors" value={{project?.no_of_investors}}></app-projectinfocard>
                
                    <app-projectinfocard title="Total cell" value={{project?.total_cell}}></app-projectinfocard>
                   
                </div>

                <div class="row mt-3">
                    <div class="col-12 d-flex flex-row justify-content-end">
                        <button type="button" (click)="downloadInformation()" class="btn btn-black" id="download-info"> <small>Download Information </small><img src="../../../../assets/images/icons/download (2).png" > </button>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="row" id="about">
    <div class="col-12">
        
        <h4 class="mb-3" >About Project</h4>

        {{project?.description}}



    </div>
</div>

<!-- Invest Modal-->
<app-modalcontainer [show]="showinvestModal">
    <app-modalcard  (close)="closeInvestModal($event)">
        <app-investmodal
            (payBank)="bankTransactionStatus($event)"
            (payCrypto)="cryptoTransactionStatus($event)"
            [price]="price_per_cell"
            [no_of_cell]="number_of_cell"
            [cryptoisLoading]="cryptoLoading"
            [bankisLoading]="bankLoading"
        >
        </app-investmodal>
    </app-modalcard>
</app-modalcontainer>

<!-- Successful transaction -->

<app-modalcontainer [position]="true"  [show]="showSuccessModal">
    <app-modalcard [position]="true" (close)="closeSuccessModal($event)">
    <app-successmodal
        text="Payment Successful"
        leftBtn="View projects"
        [leftRoute]="['/projects/home']"
        rightBtn="Continue"
        [rightRoute]="right_link"
    >
    </app-successmodal>
</app-modalcard>
</app-modalcontainer>

<!-- insufficient funds -->
<app-modalcontainer [position]="true" [show]="showInsufficientModal">
    <app-modalcard [position]="true" (close)="closeInsufficientModal($event)">
        <app-insufficientmodal>
        </app-insufficientmodal>
    </app-modalcard>
</app-modalcontainer>
