

#single-title p{
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 30px !important;
    margin: 0px !important
}

#single-title small{
    display: none!important;
}

#thumbnail img{
    width: 100%;
    height: 214px !important;
    border-radius: var(--s1);
    padding: 0px !important;
}

.project-details h5{
    padding-top: var(--f8)!important;
    font-size: var(--f7)!important;
}

.project-details small {
    font-size: var(--f9)!important
}

.information-cards {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.information-cards .stats-display {
    display: flex;
    flex-direction: row;
    border: 0.5px solid rgba(11, 11, 11, 0.4);;
    border-radius: 4px; 
    line-height: 16px;
    width: auto!important;
    margin-bottom: 16px;
}

.information-cards .stats-display div:first-child {
    background-color: #000;
    color: #fff;
    padding: 8px 12px;
    font-size: 12px!important;

}

.information-cards .stats-display div:last-child {
    padding: 8px 26px;
    color: #000;
    font-size: 12px!important;
}

.information-cards .btn-primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px !important;
}

.information-cards .btn-primary-outline {
    padding: 12px 19px !important;
}

.information-cards .btn-primary {
    padding: 11px 0px !important;
}

.information-cards .btn-black {
    padding: 12px 16px !important;
}

#btn-opportunity img{
    transform: rotate(-90deg);
    margin-left: var(--s2)
}

.info-title{
    display: flex !important;
    margin-top: var(--s2);
}

#information-cards {
    display: grid!important;
    grid-template-columns: repeat(2, 1fr)!important;
    gap: 16px;
    margin-top: var(--s2);
}

#download-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#download-info img{
   height: 28px;
   width: 28px;
   margin-left: var(--s2)
}



@media only screen and (min-width: 600px) {

    #single-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7px!important;
    }

    #single-title p{
        font-size: 24px !important;
        font-weight: 500 !important;
        line-height: 30px !important;
    }

    #single-title small{
        font-size: 14px !important;
        font-weight: 500 !important;
        line-height: 22px !important;
        display: flex !important;
    }

    #thumbnail img{
        
        height: 263px !important;
       
    } 

    .project-details h5{
        padding-top: var(--f5)!important;
        font-size: var(--f7)!important;
    }

    .project-details small {
        font-size: var(--f9)!important
    }

    .information-cards {
        display: grid;
        column-gap: 50px;
        grid-template-columns: auto 55%;
    }

    

    #information-cards {
        margin-top: 0!important;
        display: grid!important;
        grid-template-columns: repeat(3, 1fr)!important;
        gap: var(--S1)!important;
        max-width: 100%!important;
        
    }

    #information-cards div {
        padding: 0px !important;
    }

    #information-cards .card {
        min-height: 100%!important;
    }

    .info-title{
        display: none !important;
    }

    .information-cards .stats-display {
        
        border-radius: 6px; 
        margin-bottom: 18px;
    }

    .information-cards .stats-display div:first-child { 
        padding: 10px 24px;
        font-size: 16px!important;
    }

    .information-cards .stats-display div:last-child {
        padding: 10px 20px;
        font-size: 16px!important;
    }

}