<div class="protected">
    <h3>We ensure your Solar Asset  is well  protected</h3>
    <p>
        We follow a transparent and simplified structure that ensures solar asset ownership is managed and protected by our engineering, technical and institutional partners that include:
    </p>

    <div class="card-container mbottom">
        <div class="card">
            An SEC licensed trustee
        </div>

        <div class="card">
            Strong Technology Partners
        </div>
    </div>

    <div class="card-container">
        <div class="card">
            Experienced solar energy developers
        </div>

        <div class="card">
            A professional fund  manager
        </div>
    </div>
</div>
