.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustration {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.message {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px!important;
    line-height: 28px;
    color: #0B0B0B;
    margin-bottom: 12px;
}

.label {
    margin-bottom: 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px!important;
    line-height: 24px;
    color: #0B0B0B;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 600px){

    .illustration {
        height: 130px;
        width: 130px;
        margin-bottom: 24px;
    }

    .message {
        font-size: 16px!important;
        line-height: 22px;
    }

    .label{
        font-size: 12px!important;
        line-height: 18px;
    }
}