<div class="row" id="welcomenav">
    <div class="col-12 d-flex flex-row justify-content-between align-items-center">
        <div class="d-flex flex-row align-items-center" *ngIf="showSalution">
            <h2>Hello {{user.firstname}},</h2>
         
        </div>

        <div>
            <div class="notification-wrapper">
                <app-bell (toggleModal)="toggleModal($event)"></app-bell>
                <app-notification
                    [showNotification]="showModal"
                ></app-notification>
            </div>
        </div>
    </div>
</div>
