h2 {
    font-size: var(--f6) !important;
    line-height: 28px !important;
    font-weight: 500;
    margin: 0!important;
}

#welcomenav{
    margin-bottom: var(--f5) !important;
    width: 100%;
    z-index: 50;
}


.notification-wrapper {
    position: unset;
}


/** DESKTOP **/
@media only screen and (min-width: 600px) {

#welcomenav{
    margin-bottom: var(--f4) !important;
}

h2 {
    font-size: var(--f4) !important;
    font-weight: 36px !important;
    line-height: 26px  !important;
    margin-bottom: var(--f7)
}

.notification-wrapper {
    position: relative;
    z-index: 30;
    display: inline-block;
}

.notification {
    padding: 16px 30px !important
}



}