<div class="footer">
    <div class="join-sunglo">
        <form>
            <div>
                <label>Join Sunglo For Free:</label> 
            </div>
            <div class="form-border">
                <input type="email" placeholder="Enter email address" />
            </div>
            
        </form>
    </div>
    <div class="footer-menu-container">
        LOGO
        <div class="footer-menu">
            <div class="footer-menu-list">
                <div>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="/projects">Solar Projects</a></li>
                        <li><a href="#">Why Us</a></li>
                        <li><a href="/blogs">News & Insights</a></li>
                        <li><a href="#">How to Invest</a></li>
                        <li><a href="/faqs">FAQs</a></li>
                    </ul>
                </div>
    
                <div>
                    <ul>
                        <li><a href="#">Terms & Conditions
                        </a></li>
                        <li><a href="#">Privacy Policy
                        </a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>

                <div class="social-media">
                    
                    <div>
                        <img src="../../../../assets/images/icons/twitter.png" alt="twitter">
                    </div>

                    <div>
                        <img src="../../../../assets/images/icons/instagram.png" alt="instagram">
                    </div>

                    <div>
                        <img src="../../../../assets/images/icons/facebook.png" alt="facebook">
                    </div>

                    <div>
                        <img src="../../../../assets/images/icons/youtube.png" alt="youtube">
                    </div>
                    
                </div>
            </div>

            <div class="footer-form">
                <form>
                    <h3>Ready To Begin?</h3>

                    <div class="form-border">
                        <input type="email" placeholder="Enter email address" />
                    </div>
                    <div>
                        <input type="submit" class="btn-primary" value="subscribe"/>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
