<section class="get-started">
    <div>
        <p class="invest">Invest on the go. Anywhere, anytime...</p>
        <div class="img-container">
            <img class="desktop-laptop" src="../../../assets/images/illustrations/landing/laptop.png"/>
            <img class="desktop-phone" src="../../../assets/images/illustrations/landing/phone.png"/>

            <img class="mobile-laptop" src="../../../assets/images/illustrations/landing/laptop.png"/>
            <img class="mobile-phone" src="../../../assets/images/illustrations/landing/phone.png"/>
        </div>
    </div>
    <div>
        <h3>The easy way to own your share</h3>
        <p>
            Income-producing power plants across Africa
Sunglo is an exclusive peer to peer leasing platform to purchase and own your share of an income-producing solar plant, right from your mobile phone or computer.
        </p>
        
        <span>
            <a href="#" class="btn-primary">Get Started</a>
        </span>
        
    </div>

</section>