<div class="solarassets">
    <div class="content">
        <h3>
            We ensure your Solar Asset  is well  protected
        </h3>

        <p>
            We follow a transparent and simplified structure that ensures solar asset ownership is managed and protected by our engineering, technical and institutional partners that include:
        </p>

        <a routerLink="#" class="btn-primary">Get Started</a>
    </div>
    <div class="image-container">
        <img src="../../../../assets/images/illustrations/landing/elderly-man.png" alt="solar assets"/>
    </div>
</div>