nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0px 126px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 100;
}

.menu ul {
    display: flex;
    list-style: none;
    column-gap: 27px;
}

.menu ul {
    margin-bottom: 0px!important;
}

.menu ul a {
    font-size: 20px !important;
    font-weight: 300;
    line-height: 23.87px;
    border: none!important;
    color: black!important;
    
}

.auth ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    column-gap: 16px;
    margin-bottom: 0px!important;

}

.auth .signin {
    color: black!important;
    border: none!important;
    font-size: 18px!important;
    font-weight: 400;
    line-height: 21.48px;
    align-self: center;
}

nav .font{
    font-size: 14px!important
}

nav .btn-primary {
    padding: 16px 37px !important;
}

.showMenu {
    display: none;
}


@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
        padding: 0px 16px;
        height: 10vh;
        justify-content: center;
        align-items: space-between;
    }
    .menu {
        display: none;
    }

    .auth {
        display: none;
    }

    .logo-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .showMenu {
        display: flex;
    }
}