#calltoaction .btn-primary{
    padding-left: var(--S5)!important;
    padding-right: var(--S5)!important;
}

#calltoaction .btn-black-share {
    padding: 12px 12px!important;
    margin-left: var(--s2);
    border-bottom: none!important;
    background-color: var(--black);
    border-radius: var(--s1);
}

#calltoaction .btn-black-share img{
    height: 24px;
    width: 18px;
}

#energygenerated img{
    width: 100%;
    height: 237px;
    border-radius: 8px;
    margin-bottom: 32px;
}
