<app-mobiletopnav></app-mobiletopnav>

<app-singletopnav></app-singletopnav>

<app-pageloader [isLoading]="pageLoading"></app-pageloader>

<h4>Investment</h4>

<!-- thumbnail -->
<div class="project-thumbnail">
    <img src="#" alt="some text goes here" />
</div>

<div>
    <span class="project-title desktop-only">{{investment.project.title}}</span>
</div>

<div class="investment-data mt-4">
    <div class="left">
        <div class="progress-section">

            <app-circleprogress></app-circleprogress>

            <div class="progress-right">
                <div class="progress-days">
                    <span *ngIf="investment.project.availability === 'Now Generating' ">{{days_left}} days left</span>
                    <span *ngIf="investment.project.availability === 'Now Installing' ">Now Installing</span>
                    <span *ngIf="investment.project.availability === 'Now Available' ">Funding</span>
                </div>
                <div class="mobile-only">
                    <div>
                        <span class="project-title">{{investment.project.title}}</span>
                    </div>
                    
                    <app-investedamount
                        [naira]="investment.capital"
                    ></app-investedamount>
                </div>
                <!-- <app-primarybtntwo
                    label="Energy Generated"
                    [size4]="true"
                ></app-primarybtntwo> -->
            </div>

        </div>
        <app-borderedcard
            label="Total Solar Cell Purchased"
            [value]="investment.project.sold_cell"
        >
        </app-borderedcard>
        
        <app-borderedcard
            label="ROI Yield "
            [value]="investment.project.ROI"
        >
        </app-borderedcard>
        <app-borderedcard
            label="Total Investment Made "
            [value]="investment.capital"
        >
        </app-borderedcard>
        <app-borderedcard
            label="Total Energy Generated "
            [value]="investment.project.energy_generated"
        >
        </app-borderedcard>

        <app-borderedcard
        label="Total Number Of Investors "
        [value]="investment.project.no_of_investors"
    >
    </app-borderedcard>

        

        
    </div>

    <div class="right">
            <div class="desktop-only bordered-corner">
                <app-investedamount></app-investedamount>
            </div>

            <app-statsdisplay 
                label="Investment Interest" 
                value=""
                [fullwidth]="true"
            ></app-statsdisplay>
        
            <app-borderedcard
                label="Investment Date "
                [value]="investment.created_at"
            >
            </app-borderedcard>

            <app-borderedcard
                label="Next Payout Date "
                [value]="investment.project.next_payout_date"
            >
            </app-borderedcard>

            <app-borderedcard
                label="Solar Asset Status Contract "
                value=""
            >
            </app-borderedcard>

            <app-borderedcard
                label="Total Reduced C02 "
                [value]="investment.project.carbon_reduced"
            >
            </app-borderedcard>

            <div>
                <app-statsdisplay 
                    label="cost per cell" 
                    [value]="investment.project.cost_per_cell"
                    [fullwidth]="true"
                ></app-statsdisplay>
            </div>
        
    </div>
   
</div>

<div class="row mt-3" id="calltoaction">
    <div class="col-12">
       <app-primarybtnone
        [size3]="true"
        label="Reinvest"
        (click)="reInvest()"
       ></app-primarybtnone>
       <a 
        class="btn btn-black-share"
        (click)="openShareModal()"
       >
        <img src="../../../../assets/images/icons/download.png">
        </a>
    </div>
</div>

<!-- share link -->
<app-modalcontainer [position]="true" [show]="showShareModal">
    <app-modalcard [position]="true" (close)="closeShareModal($event)">
       <app-shareproject shareLink="golden"></app-shareproject>
    </app-modalcard>
</app-modalcontainer>
