<section class="invest">
    <h3>How To Invest</h3>

    <h4>Put Your Money to work while doing good</h4>
    <p>Join a global community from all corners of the world that's solar powering the planet and creating a sustainable energy future.</p>

    <div class="invest-step">
        <div>
            <div class="box">

            </div>
        </div>
        <div>
            <h3>Sign Up</h3>
            <p>
                Register to become a member of the Sunglo Impact Investing community.
            </p>
        </div>
    </div>

    <div class="invest-step">
        <div>
            <div class="box">

            </div>
        </div>
        <div>
            <h3>Discover</h3>
            <p>
                Discover new and impactful solar project opportunities across multiple industries.
            </p>
        </div>
    </div>

    <div class="invest-step">
        <div>
            <div class="box">

            </div>
        </div>
        <div>
            <h3>Invest in Solar Cells</h3>
            <p>
                Purchase and lease out your solar cell and start earning from the sun. 
            </p>
        </div>
    </div>

</section>