<app-mobiletopnav></app-mobiletopnav>

<app-topnav [showSearch]="true"></app-topnav>

<!-- <div class="row" id="investment-header">
    <div class="col-12">
        <h4>Hy Joe,</h4>
        <p>You have made 2 Solar investment with Sunglo. Check out what new project investments we have for you today.</p>

        <button type="button" class="btn btn-primary">
            Today's Project
        </button>
    </div>
</div> -->

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card" id="money-invested">
            <h5>Money Invested</h5>

            <h4>{{money_invested}}</h4>

            <small>{{money_invested}} NGN</small>
        </div>
    </div>

    <div class="col-lg-8 col-md-12" >
        <div class="row" id="bottom-investment">
            <div class="col-6">
                <div class="card" id="active">
                    <p>Active Investment</p>
        
                    <h4>{{active_investment}}</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="card" id="completed">
                    <p>completed
                         Investment</p>
        
                    <h4>{{completed_investment}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <h4 class="investment-title">Investment</h4>
    </div>
</div>

<div class="investment-container" *ngIf="investments.length !== 0">
    <div *ngFor="let investment of investments">

        <app-intevestmentcard
            [id]="investment._id"
            [title]="investment.project.title"
            [cost]="investment.capital"
            [start_date]="investment.project.start_date"
            [end_date]="investment.project.end_date"
        ></app-intevestmentcard>

    </div>
</div>

<app-empty
    *ngIf="investments.length === 0"
    label="Oops! you are yet to start investing"
    buttonLabel="Invest In Solar Cells Now"
    image="../../../../../assets/images/illustrations/empty.png"
></app-empty>

