<app-mobiletopnav></app-mobiletopnav>

<app-topnav></app-topnav>

<div class="row" id="investment-header">
    <div class="col-12">
        <h4>Hy Joe,</h4>
        <p>You have made 2 Solar investment with Sunglo. Check out what new project investments we have for you today.</p>

        <button type="button" class="btn btn-primary">
            Today's Project
        </button>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-12">
        <div class="card" id="money-invested">
            <h5>Money Invested</h5>

            <h4>500,000</h4>

            <small>500,000 NGN</small>
        </div>
    </div>

    <div class="col-lg-8 col-md-12" >
        <div class="row" id="bottom-investment">
            <div class="col-6">
                <div class="card" id="active">
                    <p>Active Investment</p>
        
                    <h4>2</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="card" id="completed">
                    <p>completed
                         Investment</p>
        
                    <h4>2</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <h4>Investment</h4>
    </div>
</div>

<div class="investment-container" *ngIf="false">
    <div>
        <app-intevestmentcard></app-intevestmentcard>
    </div>
    <div>
        <app-intevestmentcard></app-intevestmentcard>
    </div>
    <div>
        <app-intevestmentcard></app-intevestmentcard>
    </div>
    <div>
        <app-intevestmentcard></app-intevestmentcard>
    </div>
</div>

<div class="empty-investment">
    <div>
        <p>Oops! you are yet to start investing</p>
    <button class="btn btn-primary">Check out projects</button>
    </div>
    
</div>

