<div class="container">
    <nav>
        <span (click)="showGeneralTab()" [class.active]="showGeneral">General <span class="count">{{generalCount}}</span></span>
        <span (click)="showImportantTab()"  [class.active]="showImportant">Important <span class="count">{{personalCount}}</span></span>
    </nav>
    <main style="position: relative; height: 100%">
        <div class="section"  *ngIf="showGeneral">
        
                <app-tabsitem 
                *ngFor="let general of generals"
                [description]="general.description"
                [time]="general.created_at"
                ></app-tabsitem>
            
        </div>
        <div class="section" *ngIf="showImportant">
                <app-tabsitem 
                *ngFor="let personal of personals"
                [description]="personal.description"
                [time]="personal.created_at"
                ></app-tabsitem>
        </div>
    </main>
</div>