<div class="row" id="mobiletopnav">
    <div class="col-12 d-flex flex-row justify-content-between align-items-center">

        <div>
            LOGO
        </div>

        <div class="menu-items">
            <img src="../../../../assets/images/icons/Setting.png" alt="settings">
            <span (click)="toggleModal()">
                <span class="iconify" data-icon="system-uicons:bell" data-width="30" data-height="30"></span>
            </span>
        </div>

    </div>
</div>
<app-notification [showNotification]="showModal"></app-notification>
