.button {
    background-color: #01FFFF;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px!important;
    line-height: 24px;
}

.button:hover {
    box-shadow: 9px 23px 34px rgba(5, 195, 221, 0.31);
}

.fitcontent {
    width: fit-content!important;
}

.parent {
    width: 100% !important
}

@media screen and (max-width: 600px){
    .button {
        font-size: 12px!important;
        line-height: 18px;
    }
}

/** styling progress spinner **/
:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    animation: custom-progress-spinner-dash 1.5s ease-in-out infinite, custom-progress-spinner-color 6s ease-in-out infinite;
}

:host ::ng-deep .loading {
   display: none;
    
}

@keyframes custom-progress-spinner-color {
    100%,
    0% {
        stroke: #16697A;
    }
    40% {
        stroke: #489FB5;
    }
    66% {
        stroke: #82C0CC;
    }
    80%,
    90% {
        stroke: #FFA62B;
    }
}

@keyframes custom-progress-spinner-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}