<div class="card-body bg-soft-light border border-dashed border-start-0 border-end-0">
  <form>
    <div class="row d-flex align-items-center g-3">
      <div class="col-xxl-2 col-sm-12 ">
        <select class="form-select bg-light border-light " aria-label="Default select example">
          <option selected>Batch Action(S)</option>
          <option value="1">Delete</option>
          <option value="2">Export to PDF</option>
          <option value="3">Export to PNG</option>
          <option value="3">Print</option>
        </select>
      </div>
      <div class="col-xxl-5 col-sm-12">
        <div class="search-box">
          <input type="text" class="form-control search bg-light border-light"
                 placeholder="Search for customer, email, country, status or something...">
          <i class="ri-search-line search-icon"></i>
        </div>
      </div>
      <!--end col-->
      <div class="col-xxl-2 col-sm-4">
        <input type="text" class="form-control bg-light border-light" id="datepicker-range" placeholder="Select date">
      </div>
      <!--end col-->
      <div class="col-xxl-2 col-sm-4">
        <div class="input-light">
          <select class="form-control" data-choices data-choices-search-false name="choices-single-default"  id="idStatus">
            <option value="">Status</option>
            <option value="all" selected>All</option>
            <option value="Unpaid">Unpaid</option>
            <option value="Paid">Paid</option>
            <option value="Cancel">Cancel</option>
            <option value="Refund">Refund</option>
          </select>
        </div>
      </div>
      <!--end col-->
      <div class="col-xxl-1 col-sm-4">
        <button type="button" class="btn btn-soft-secondary waves-effect waves-light shadow-none w-100" onclick="SearchData();">
          <i class="ri-equalizer-fill me-1 align-bottom"></i> Filters
        </button>

      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </form>
</div>
