<div class="row">
    <div class="col-12 d-flex flex-row justify-content-between topnav">

        <div>
            <app-backbutton></app-backbutton>
        </div>


        <div class=" d-flex flex-row justify-content-end">
            <div class="search">
                <input type="text" class="form-control" placeholder="placeholder" >
            </div>

            <div class="notification">
                <img src="../../../../assets/images/icons/Notification.png">
            </div>
        </div>

    </div>
</div>

